#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.header {
    display: flex;   
    height: 100%;
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: inherit;
    background-color: #2f2f2f;
}

.menuHover {
    background-color: black; 
}


.header-info {
    display: flex;   
    height: 100%;
    width: 100%;
    flex: 5;
}

.header-info-left {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 2;
    justify-content: center;
}

.header-info-right {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex: 1;
}

.social {
    display: flex;
    height: 100%;
    width: 100%;
}

.social-icon {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    cursor: pointer;
}

.search {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-box {
    height: 40px;
    width: 80%;
}

.search-input {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    font-size: 12pt;
    padding-left: 5px;
}

.header-menu {
    display: flex;   
    height: 100%;
    width: 100%;
    flex: 2;
    background-color: #ffa500;
}

.action-screen {
    height: 100%;
    width: 100%;
    flex: 5;
    display: flex;
    background-color: #585858;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.menu-item {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    cursor: pointer;
    font-size: 23pt;
    font-family: mSemiBoldCondensed;
}

#app > div.header > div.header-menu > div:nth-child(3) {
    border: none;
}

.map {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.map-iframe {
    flex: 1;
    height: 80%;
    width: 100%;
    display: flex;
    max-width: 100%;
}

.contact {
    flex: 1;
    height: 100%;
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
}

.address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 30px;
    box-sizing: border-box;
}

.addressContent {
    width: 100%;
    height: 80%;
    font-family: mCondensed;
    font-size: 15pt;
    color: #d5d5d5;
}

.addr-line {
    padding-left: 10px;
}

.titleBox {
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #292929;
    display: flex;
    padding-left: 10px;
    box-sizing: border-box;
    color: white;
    /* box-shadow: 2px 2px 2px #171717; */
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
}

.content-map {
    height: 100%;
    width: 90%;
    display: flex;
}

.home {
    width: 100%;
}

.test {
    width: 100%;
    height: 300px;
    background-color: green;
    margin-bottom: 20px;
}

.image {
    width: 100%;
}

.images-fade {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fade-transition {
    transition: all 0.8s ease;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    position: absolute;
}
.fade-enter, .fade-leave {
    opacity: 0;
    visibility: hidden;
}

.logo {
    width: 350px;
}

.brands {
    width: 100%;
    height: 150px;
    background-color: #2f2f2f;
    display: flex;
}


.product-wrapper {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    justify-content: center;
    height: 100%;
}

.productItem {
    height: 200px;
    width: 320px;
    background-color: white;
    margin: 5px;
    /* border: 1px solid #2f2f2f; */
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    background-color: white;
}

.productName {
    height: 100px;
    background-color: #2a2a2a;
    height: 40px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: mCondensed;
    color: #d5d5d5;
    font-size: 16pt;
}

.productImage {
    flex: 1;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c0c0c0;
}

.image-wrapper {
    flex: 1;
    height: 100%;
    width: 100%;
}

.brandImage {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

p {
    margin-top: 15pt;
    margin-bottom: 15pt;
}

@font-face {
    font-family: mCondensed;
    src: url('../../resources/fonts/myriad_condensed.ttf');
}

@font-face {
    font-family: mBoldCondensed;
    src: url('../../resources/myriad_boldCond.otf');
}

@font-face {
    font-family: mSemiBoldCondensed;
    src: url('../../resources/fonts/myriad_semibold_condensed.ttf');
}

