<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>Emporio Metais</title>
	<style>
		html, body {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			background-color: lightcyan;
		}
	</style>
</head>

<body>
	<div id="app">
		<div class="header">
			<div class="header-info">
				<div class="header-info-left">
					<img class="logo" src="../resources/images/logo.svg"/>
				</div>
				<!-- <div class="header-info-right">
					<div class="social">
						<div class="social-icon" @click="openSocial(1)">
							<i class="fab fa-facebook-square fa-3x"></i>
						</div>
						<div class="social-icon" @click="openSocial(3)">
							<i class="fab fa-instagram fa-3x"></i>
						</div>
					</div>
					<div class="search">
						<div class="search-box">
							<i class="fas fa-search fa-1x" style="color: white"></i>
							<input class="search-input" placeholder="" />
						</div>
					</div>
				</div> -->
			</div>
			<div class="header-menu">
				<div v-for="menu in menuItems" class="menu-item" :class="menuHoverClass" @click="activeScreen = menu.id" @mouseover="menuHoverCall()">
					{{menu.name}}
				</div>
			</div>
		</div>
		<div class="action-screen">
			<div class="content" v-if="activeScreen === 1">
				<div class="home">
					<div
						class="images-fade"
						v-for="number in [currentNumber]"
						transition="fade"
						>
					<img
						class="image"
						:src="homeImages[Math.abs(currentNumber) % homeImages.length]"
						v-on:mouseover="stopRotation"
						v-on:mouseout="startRotation"
						/>
					</div>
					<div class="brands">
						<div v-for="brand in brandList" class="brandImage">
							<div class="brandImage" :style="{ 'background-image': 'url('+brand+')' }"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="content" v-if="activeScreen === 2">
				<div class="product-wrapper">
					<div class="productItem" v-for="product in productList">
						<div class="productImage" :style="{ 'background-image': 'url('+product.image+')' }"></div>
						<div class="productName">{{product.name.toUpperCase()}}</div>
					</div>
				</div>
			</div>
			<div class="content-map" v-if="activeScreen === 3">
				<div class="map">
					<div class="map-iframe">
						<iframe :src="map" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="contact">
					<div class="address">
						<span class="addressContent">
							<span>
								<div class="titleBox">
									<span>ENDEREÇO</span>
								</div>
								<p class="addr-line">Rua Angelo Steck, 65</p>
								<p class="addr-line">Vila Nova</p>
								<p class="addr-line">Louveira, São Paulo</p>
								<p class="addr-line">13290-000</p>
							</span>
							<p><br /></p>
							<span>
								<div class="titleBox">
									<span>TELEFONES</span>
								</div>
								<p class="addr-line"><i class="fas fa-phone"></i>&nbsp;&nbsp;19 3878-7541</p>
								<p class="addr-line"><i class="fab fa-whatsapp"></i>&nbsp;&nbsp;19 99446-4675</p>
							</span>
							<p><br /></p>
						</span>
					</div>
				</div>
			</div>
		</div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
		//(19) 994464675
        let app = new Vue({
            "el": '#app',
            "data": {
				"homeImages": [
					"https://ld-prestashop.template-help.com/prestashop_62363/modules/ps_imageslider/images/e215f8fbebed74ba3cf88cdb541307f91114f837_slide_1.jpg", 
					"https://ld-prestashop.template-help.com/prestashop_62363/modules/ps_imageslider/images/7dc9fd5671f78ae1c9f348214ac658a3f3e6a7f4_slide_2.jpg", 
					"https://ld-prestashop.template-help.com/prestashop_62363/modules/ps_imageslider/images/cfe84d7e28ddaf1b5424b97a60ff8934fccd4719_slide_3.jpg"
				],
				"brandList": [
					"https://logos-download.com/wp-content/uploads/2016/10/Makita_logo_logotype.png",
					"https://logos-download.com/wp-content/uploads/2016/10/Makita_logo_logotype.png",
					"https://logos-download.com/wp-content/uploads/2016/10/Makita_logo_logotype.png",
					"https://logos-download.com/wp-content/uploads/2016/10/Makita_logo_logotype.png",
					"https://logos-download.com/wp-content/uploads/2016/10/Makita_logo_logotype.png",
					"https://logos-download.com/wp-content/uploads/2016/10/Makita_logo_logotype.png",
					"https://logos-download.com/wp-content/uploads/2016/10/Makita_logo_logotype.png",
					"https://logos-download.com/wp-content/uploads/2016/10/Makita_logo_logotype.png"
				],
        		"currentNumber": 0,
        		"timer": null,
				"menuItems": [
					{
						"name": "HOME",
						"id": 1
					},
					{
						"name": "PRODUTOS",
						"id": 2
					},
					{
						"name": "CONTATO",
						"id": 3
					}
				],
				"currentScreen": 1,
				"map": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.28934411222!2d-46.95361208503101!3d-23.08650158492065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf2dd7d8264abd%3A0x5ffd175c85f88b8!2sKa+Emp%C3%B3rio+Metais!5e0!3m2!1sen!2sbr!4v1530448045039",
				"productList":  [
					{
						"name": "Parafusos",
						"image": "http://www.lpparafusos.com.br/Assets/images/banner01.jpg"
					},
					{
						"name": "Brocas",
						"image": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP_VY0_L9UlvMZ5IJ9zl1yiFbzkxpak-2PV4cGiSxCEDX4hV4Y"
					},
					{
						"name": "Ferramentas Elétricas",
						"image": "http://frmotores.com.br/site/images/slider/img3.png"
					},
					{
						"name": "Rodizios",
						"image": "https://sc01.alicdn.com/kf/HTB1XkGhJXXXXXaJaXXX760XFXXXu/222700024/HTB1XkGhJXXXXXaJaXXX760XFXXXu.png"
					},
					{
						"name": "Ferramentas Manuais",
						"image": "http://www.lojadomecanico.com.br/imagens/2/301/71268/Kit-de-Ferramentas-Manuais-Hobby-com-53--schulz-9270027-01.JPG"
					},
					{
						"name": "EPIs",
						"image": "https://www.epi-tuiuti.com.br/wp-content/uploads/2015/08/1-Seguranca.jpg"
					},
					{
						"name": "Correias Industriais",
						"image": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFt-uRdrmnRELMBMWo_Rw-7UF2N54d0IRDH2et87Jl3zXAjrAYJg"
					},
					{
						"name": "Fechaduras",
						"image": "https://ae01.alicdn.com/kf/HTB1AAiFJFXXXXc2XpXXq6xXFXXX5/A-o-inoxid-vel-parafuso-duplo-fechaduras-fechaduras-ma-aneta-da-porta-do-quarto-de-madeira.jpg_640x640.jpg"
					},
					{
						"name": "Acessório para Móveis	",
						"image": "http://www.decoracaoeplanejamento.com/wp-content/uploads/2014/02/acessorios-para-moveis-7.png"
					},
					{
						"name": "Rolamentos",
						"image": "https://http2.mlstatic.com/rolamento-red-bones-red-skate-D_NQ_NP_468511-MLB20585291136_022016-F.jpg"
					},
					{
						"name": "Químicos",
						"image": "https://images-na.ssl-images-amazon.com/images/I/413cQxwmbyL.jpg"
					},
					{
						"name": "Utilidades",
						"image": "https://http2.mlstatic.com/nicho-decorativo-mdf-kit-3-unidades-o-mais-vendido-do-ml-D_NQ_NP_334625-MLB25480662990_042017-F.jpg"
					},
					{
						"name": "Produtos para Psicina",
						"image": "http://img.olx.com.br/images/88/885826015747564.jpg"
					},
					{
						"name": "Jardinagem",
						"image": "https://img.etsystatic.com/il/d582bd/482239814/il_fullxfull.482239814_qief.jpg"
					},
					{
						"name": "Chumbadores",
						"image": "https://http2.mlstatic.com/chumbador-cba-38-x-312-ancora-D_NQ_NP_736119-MLB25955780710_092017-O.jpg"
					},
					{
						"name": "Discos e Abrasivos",
						"image": "http://www.elartesano.com.pe/wp-content/uploads/2016/04/abrasivo-dewalt.jpg"
					}
				],
				"menuHover": false
			},
			"computed": {
				"activeScreen": {
					"get": function () {
						return this.currentScreen;
					},
					"set": function (value) {
						this.currentScreen = value;
					}
				},
				"menuHoverClass": function (url) {
					if (this.menuHover) {
						return "menuHover";
					}
				}
			},
			"methods": {
				"menuHoverCall": function () {
					// this.menuHover = true;
				},
				"openSocial": function (site) {
					if (site === 1) {
						window.open("https://www.facebook.com/emporiodosmetais/");
					} else if (site === 2) {
						
					} else {

					}
				},
				startRotation: function() {
					this.timer = setInterval(this.next, 3000);
				},
				stopRotation: function() {
					clearTimeout(this.timer);
					this.timer = null;
				},
				next: function() {
					this.currentNumber += 1
				},
				prev: function() {
					this.currentNumber -= 1
				}
			},
			mounted: function () {
				this.startRotation();
			}
         })
	</script>
	
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

	<noscript>
		Your browser does not support Script at this time
	</noscript>
</body>

</html>